<div class="form-container">
  <%= form_with(model: ingredient_recipe, local: true) do |form| %>
    <%= render 'shared/form_errors', object: ingredient_recipe %>

    <div class="form-group">
      <%= form.label :ingredient_id %>
      <%= form.collection_select :ingredient_id, @ingredients, :id, :name, prompt: "Select Ingredient", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :recipe_id %>
      <%= form.collection_select :recipe_id, @recipes, :id, :title, prompt: "Select Recipe", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, step: 0.01, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :unit %>
      <%= form.text_field :unit, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit(ingredient_recipe.persisted? ? "Update Ingredient Entry" : "Add Ingredient", class: "btn-primary") %>
    </div>
  <% end %>
</div>
