<div class="page-container">
  <h1 class="page-title">Ingredient Usages</h1>

  <div class="button-row">
    <%= link_to "Add Ingredient Usage", new_recipe_ingredient_recipe_path(@ingredient_recipes.first.recipe), class: "btn-primary" %>
  </div>

  <% if @ingredient_recipes.present? %>
    <ul class="item-list">
      <% @ingredient_recipes.each do |ir| %>
        <li class="item item--ingredient_recipes">
          <%= ir.quantity %> <%= ir.unit %> of
          <%= link_to ir.ingredient.name, ingredient_path(ir.ingredient), class: "btn-link" %>
          in <%= link_to ir.recipe.title, recipe_path(ir.recipe), class: "btn-link" %>
          <div class="button-row">
            <%= link_to "Edit", edit_recipe_ingredient_recipe_path(ir.recipe, ir), class: "btn-link" %>
            <%= link_to "Delete", recipe_ingredient_recipe_path(ir.recipe, ir), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-link" %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No ingredient usages available.</p>
  <% end %>
</div>
