<h1>Ingredient Usage Details</h1>

<p>
  <strong>Ingredient:</strong>
  <%= link_to @ingredient_recipe.ingredient.name, ingredient_path(@ingredient_recipe.ingredient) %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= link_to @ingredient_recipe.recipe.title, recipe_path(@ingredient_recipe.recipe) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= "#{@ingredient_recipe.quantity} #{@ingredient_recipe.unit} of #{@ingredient_recipe.ingredient.name}" %>
</p>

<%= link_to "Edit", edit_ingredient_recipe_path(@ingredient_recipe) %> |
<%= link_to "Back", ingredient_recipes_path %>
