<div class="page-container">
  <h1 class="page-title">My Favorite Recipes</h1>

  <% if @favorites.any? %>
    <ul class="item-list">
      <% @favorites.each do |favorite| %>
        <li class="item item--favorite">
          Recipe: 
          <%= link_to favorite.recipe.title, recipe_path(favorite.recipe), class: "recipe-link" %>
          <p>By: <%= favorite.recipe.user.username %></p>

          <% if favorite.recipe.categories.any? %>
            <div>
              <p>Categories: 
                <%= favorite.recipe.categories.map(&:name).join(", ") %>
              </p>
            </div>
          <% end %>

          <div class="button-row">
            <%= link_to "View Recipe", recipe_path(favorite.recipe), class: "btn-link" %>
            <%= link_to "Remove from Favorites", favorite_path(favorite), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-link" %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven’t added any favorites yet.</p>
  <% end %>
</div>
