<div class="main-container">
  <h1 class="page-title">All Recipes</h1>

  <% if @recipes.any? %>
    <div class="recipe-grid">
      <% @recipes.each do |recipe| %>
        <div class="recipe-card">
          <%= link_to recipe.title, recipe_path(recipe), class: "recipe-link" %>
          <p class="recipe-author">By: <%= recipe.user.username %></p>
          <p class="recipe-summary"><%= truncate(recipe.instructions, length: 100) %></p>

          <% if recipe.user == current_user %>
            
            <%= link_to "Delete", recipe_path(recipe), method: :delete, class: "btn-link", data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="no-recipes-message">
      You haven’t added any recipes yet.
      <%= link_to "Create one", new_recipe_path, class: "btn-link" %>
    </p>
  <% end %>

  <div class="form-group">
    <%= link_to "Add a Recipe", new_recipe_path, class: "btn-primary" %>
  </div>
</div>
