<div class="main-container">
  <h1 class="page-title">All Recipes</h1>

  <%= form_tag recipes_path, method: :get, class: "search-form" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search by title..." %>

    <%= select_tag :category_id,
          options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
          include_blank: "All Categories" %>

    <%= select_tag :ingredient_id,
          options_from_collection_for_select(Ingredient.all, :id, :name, params[:ingredient_id]),
          include_blank: "All Ingredients" %>

    <%= submit_tag "Search", class: "btn-primary" %>
  <% end %>

  <% if @recipes.any? %>
    <div class="recipe-grid">
      <%= render partial: "recipes/recipe_card", collection: @recipes, as: :recipe %>
    </div>
  <% else %>
    <p class="no-recipes-message">
      <% if params[:query].present? %>
        No recipes found for "<%= params[:query] %>".
      <% else %>
        You haven’t added any recipes yet.
        <%= link_to "Create one", new_recipe_path, class: "btn-link" %>
      <% end %>
    </p>
  <% end %>

  <div class="form-group">
    <%= link_to "Add a Recipe", new_recipe_path, class: "btn-primary" %>
  </div>
</div>
