<h1><%= @recipe.title %></h1>
<p><%= @recipe.instructions %></p>

<h3>Categories:</h3>
<ul>
  <% @recipe.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<h2>Reviews</h2>
<% @reviews.each do |review| %>
  <div>
    <p>Rating: <%= review.rating %></p>
    <p><%= review.content %></p>

    <% if review.user == User.first %> <!-- Replace with current_user later -->
      <%= link_to "Edit", edit_recipe_review_path(@recipe, review) %> |
      <%= link_to "Delete", recipe_review_path(@recipe, review), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

<%= link_to "Add Review", new_recipe_review_path(@recipe) %>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>  <!-- Link to the edit page -->
<%= link_to "Back", recipes_path %>  <!-- Link back to the list of recipes -->
<%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" } %>
