<div class="page-container user-form-page">
  <h1 class="page-title"><%= @user.username %>'s Profile</h1>
  <p>Email: <%= @user.email %></p>

  <% if current_user == @user %>
    <div class="button-row">
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn-link" %>
      <%= link_to "Delete Profile", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-link" %>
    </div>
  <% end %>

  <%= link_to 'Back to Dashboard', dashboard_path, class: "btn-link" %>

</div>
