<div class="page-container category-detail">
  <h1 class="page-title"><%= @category.name %></h1>

  <% if @recipes.any? %>
  <div class="recipe-grid">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
        <%= link_to recipe.title, recipe_path(recipe), class: "recipe-link" %>
        <p class="recipe-author">By: <%= recipe.user.username %></p>
        <p class="recipe-summary"><%= recipe.instructions.truncate(100) %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No recipes found in this category.</p>
<% end %>

  <div class="button-row">
    <%= link_to "Back to Categories", categories_path, class: "btn-link" %>
  </div>
</div>
