<h1>Review for <%= @review.recipe.title %></h1>
<p><strong>Rating:</strong> <%= @review.rating %> stars</p>
<p><%= @review.content %></p>

<%= link_to "Edit", edit_recipe_review_path(@review.recipe, @review) %> |
<%= link_to "Delete", recipe_review_path(@review.recipe, @review), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to "Back to Recipe", recipe_path(@review.recipe) %>
