<div class="page-container review-detail">
  <h1 class="page-title">Review for <%= @review.recipe.title %></h1>

  <p><strong>Rating:</strong> <%= @review.rating %></p>
  <p><strong>Reviewed by:</strong> <%= @review.user.username %></p>
  <p><%= @review.content %></p>

  <div class="button-row">
    <%= link_to "Edit", edit_recipe_review_path(@review.recipe, @review), class: "btn-link" %>
    <%= link_to "Delete", recipe_review_path(@review.recipe, @review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger" %>
    <%= link_to "Back to Recipe", recipe_path(@review.recipe), class: "btn-link" %>
  </div>
</div>
